body{
    background-color: rgb(203, 209, 215);
}
.container {
    background-color: rgb(109, 134, 134);
    border-style: dotted;
    padding: 70px;
    margin: auto;
    margin-top: 70px;
    width: 40%;
    height: 300px;
    border-radius: 30px;
    text-align: center;
    color: rgb(242, 242, 242);
    font-size: 20px;
}
 #checkGender{
    font-size: 18px;
    border-radius: 5px;
    background-color: rgb(227, 227, 227);
 }

 #container {
    text-align: center;
 }

#genderText {
    text-align: center;
    
}
#neste{
    height: 40px;
}
#name,#nextButton {
    display: none;
    align-items: center;
}

button {
    font-size: 20px;
    border-radius: 20px;
    align-items: center;
}